@import '../abstracts';

.order {
    padding: 10px;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas:
        'username'
        'electronicPrescription'
        'paperPrescription'
        'nonPrescription'
        'orderSection'
        'formButton';

    @include respond(tablet) {
        padding: 80px;
        grid-template-areas:
            'username username'
            'electronicPrescription orderSection'
            'paperPrescription orderSection'
            'nonPrescription orderSection'
            'formButton formButton';
        grid-template-columns: 1fr 1fr;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1;
        margin: -9px 0 0;
        background-color: $color-main;
        padding: 3px;
    }

    &__section {
        position: relative;
        padding: 30px 10px 30px 10px;
        width: 100%;
        @include flexAbsoluteCenter;
        flex-direction: column;
        background-color: $color-submain;

        &.username {
            grid-area: username;
        }

        &.electronicPrescription {
            grid-area: electronicPrescription;
        }

        &.paperPrescription {
            grid-area: paperPrescription;
        }

        &.nonPrescription {
            grid-area: nonPrescription;
        }

        &.totalOrder {
            grid-area: orderSection;
        }

    }

}

.button__submit {
    background-color: $color-very-light-pink;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    font-size: 0.7rem;
    width: 80%;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        color: $color-font;
    }

    &__input {
        width: 60%;
        margin-top: 10px;
        background: none;
        padding: 10px 8px;
        border-radius: 0.3em;
        border: 1px solid $color-font;
        background-color: $color-white;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &__label {
        text-transform: capitalize;
        font-weight: 500;
    }

    &__button {
        width: 60%;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 0.3em;
        background-color: $color-very-light-pink;
        color: black;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        font-weight: bold;
        font-size: 1.5em;
        transition: 0.5s;

        &:active,
        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: white;
            ;
        }
    }

    button {
        width: 60%;
        font-size: 15px;
    }
}