@import '../abstracts/';

.order-conditions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px;
    text-align: center;
    grid-gap: 20px;

    @include respond(tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
    }

    &__item {
        background: $color-submain;
        @include flexAbsoluteCenter();
        flex-direction: column;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .number {
                align-self: center;
            }
        }
    }
}
