$color-white: rgb(255,255,255);
$color-dark-white: rgb(245, 245, 245);
$color-font: rgb(57, 57, 57);
$color-main: rgb(254, 46, 22);
$color-submain: rgb(249, 217, 213);
$color-pink: rgb(255,182,193);
$color-very-light-pink: rgb(255,228,225);
$color-wheat: rgb(245, 222, 179);



