.root {}

.h2 {
    text-align: center;
}

.box {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 17px;
    line-height: 25px;
    padding-left: auto;
    justify-self: center;
}

@media(max-width:768px) {
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        width: 120%;
    }
}

.icon {
    font-size: 40px;
    float: left;
    margin-right: 40px;
    margin-bottom: 50px;
}

.boxContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media(min-width:768px) {
    .boxContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}