@import '../abstracts';
.footer {
    @include flexAbsoluteCenter();
    padding: 20px 0 20px 0;
    height: 200px;

    @include respond(tablet) {
        height: 250px;
        padding: 30px 0 30px 0;
    }
}