@import '../abstracts';

.header {
    height: 22vh;
    background-color: $color-main;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include respond(tablet) {
        height: 22vh;
        padding: 30px 30px;
    }

    >* {
        width: 50%;
    }

    @include respond(tablet) {
        >* {
            width: 100%;
        }
    }

    &__logo {
        @include respond(tablet) {
            width: 30%;
        }
    }

    &__navigation {
        height: 100%;
        position: relative;
    }

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-main;
        &__menu {
            display: flex;
        }
    }

@include respond(max-tablet) {
    .menu {
        display: none;
        &.block {
        background-color: $color-very-light-pink;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        &.scrolled {
            display: none
        }
        }
        }
    }
.menu {
    &__item {
        padding: 40px;
        a {
            color: $color-main;
            font-size: 24px;
        }
        @include respond(tablet) {
            a {
                color: $color-white;
            }
        }
    }
}

.hamburger {
    position: absolute;
    z-index: 200;
    right: 10px;
    top: calc(50% - 20px);
    display: block;
    background-color: $color-very-light-pink;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    color: $color-white;

    @include flexAbsoluteCenter();

    @include respond(tablet) {
        display: none;
    }

    &__icon-open,
    &__icon-close {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
       
        div {
            @include flexAbsoluteCenter();
            width: 100%;
            height: 100%;
            padding: 2px 2px;
        }
    }

    &__icon-open {
        div {
            span {
                width: 6px;
                height: 6px;
                background-color: $color-main;
                display: block;
                border-radius: 50%;
            }
        }
    }

    &__icon-close {
        transform: rotate(180deg);
        cursor: pointer;
        transition: .2s cubic-bezier(.8, .5, .2, 1.4);

        div:nth-child(odd) {
            span {
                width: 5px;
                height: 5px;
                background-color: $color-main;
                display: block;
                border-radius: 50%;
                transition-delay: 200ms;
                transition: .5s cubic-bezier(.8, .5, .2, 1.4);
            }
        }
    }
}

.topcontrol {
    display: none;
    &.visible {
        display: block;
        position: fixed;
        bottom: 52px;
        right: 0;
        opacity: 1;
        cursor: pointer;
        z-index: 30;
    }

    &__container {
        transition: all .3s linear;
        bottom: 30px;
        cursor: pointer;
        height: 38px;
        position: absolute;
        right: 20px;
        width: 38px;
        text-align: center;
        background-color: $color-main;
    }

    &__icon {
        color: $color-wheat;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
    }
}

