.root {
   
}

.h2, .h3 {
    margin-bottom: 30px;
}

@media(max-width: 768px) {
    .h3 {
        display: none;
    }
}

.link {
    text-decoration: none;
    color: white;
}

@media(max-width:768px) {
    .mobileNone {
        display: none;
    }
}

.mobileNone {
    background-image: url('/src/data/leki.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid #f9d9d5;
}